/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 95%;
		padding: 0 20px;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 95%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

/* Global HTML styles */
html,body{
  padding:0;
  margin: 0;
}
body{
  font-family: Lato,sans-serif;
  background-image: url(//d1lqhpmxg10s5j.cloudfront.net/images/main/bg.jpg);
  background-repeat: repeat;
}
h1{
  font-weight: normal;
}
p{
  margin: .5em;
  line-height: 1.25em;
}
strong{
  font-weight: bold;
}
u{
  text-decoration: none;
}

/* Global Central styles */

.clearBoth{
  clear:both;
}

/* Header */
a#logo{
  display: block;
  background-color: #fff;
  height: 100px;
  padding: .5em;
  box-shadow: 0 0 20px #000;
  text-align: center;
  z-index: 3;
}
#logo img{
  min-width: 250px;
  height: 100%;
}
@media (min-width: 550px) {
	nav.primary{
		display: block;
	}
}
nav.primary{
  background-color: #333;
  padding: 12px 0 12px 1em;
  text-align: center;
	display: none;
}
@media (min-width: 550px) {
	nav.primary{
		display: block;
	}
}
nav.primary a:link, nav.primary a:visited{
  text-decoration: none;
  min-height: 50px;
  color: #fff;
  padding: 10px 1em;
	line-height: 2em;
	white-space: nowrap;
}
@media (min-width: 925px) {
	nav.primary a:link{
		line-height: inherit;
	}
}
nav.primary a:hover{
  background-color: #cb2026;
}
/* Mobile menu */
#mobileMenu{
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1em;
	display: block;
	cursor: pointer;
}
@media (min-width: 550px) {
	#mobileMenu{
		display: none;
	}
}
nav.secondary{
  display: none;
  background-color: #666;
  padding: 10px 0 10px 2em;
  box-shadow: inset 0 4px 9px -6px;
  font-size: .8em;
  text-align: center;
}
nav.secondary a:link, nav.secondary a:visited{
  text-decoration: none;
  color: #fff;
  padding: 10px .5em;
}
nav.secondary a:hover{
  background-color: #cb2026;
}
/* Main */
main{
  padding: 0;
}
main .container{
  background-color: #fff;
  margin-top: 0;
}
main h1{
  background-color: #900;
  color: #EBE1D6;
  font-family: Rokkitt,serif;
  font-size: 3em;
  padding: 10px;
}
main h2{
  background-color: #600;
  color: #fff;
  font-size: 1.1em;
  padding: 10px;
}
main h3{
  border-bottom: 1px solid #ccc;
  color: #cb2026;
  font-weight: 700;
  font-size: 1em;
  margin: 10px 5px;
  padding: 5px;
}
main h4{
  color: #cb2026;
  font-weight: 700;
  font-size: 1em;
  margin: 10px 5px;
  padding: 5px;
}
main h5{
  color: #cb2026;
  font-size: .75em;
  font-weight: bold;
  margin: 10px 5px;
  padding: 5px;
}
main a:link, main a:visited{
  color: #cb2026;
}
main a:hover{
  color: #990000;
}
main ul{
  list-style: disc;
  margin-left: 2em;
  line-height: 1.25em;
}
main ol{
  list-style: decimal;
  margin-left: 2em;
  line-height: 1.25em;
}
/* Tables */
table{
  margin:0 auto;
  width: 95%
}
table.tableDefault tr th{
	background-color: #990000;
	color: #fff;
  padding: .5em;
}
table.tableDefault tr td{
	border: 1px solid #ccc;
  padding: .5em;
}
.tableHover tr:hover td{
	background-color: #ffff99;
	cursor: default;
}

/* Buttons */
a.primaryBtn{
  background-color: #cb2026;
  border: 1px solid #990000;
  color: #fff !important;
  padding: .5em;
  margin: 1em;
  border-radius: .25em;
  text-decoration: none;
  display: inline-block;
}
a.primaryBtn:hover{
  background-color: #990000;
}
a.secondaryBtn{
  background-color: #efefef;
  border: 1px solid #ccc;
  color: #000 !important;
  padding: .5em;
  margin: 1em;
  border-radius: .25em;
  text-decoration: none;
  display: inline-block;
}
a.secondaryBtn:hover{
  background-color: #ccc;

}
/* error boxes */
#infoBox, .infoBox{
	border: 1px solid #006699;
	background-color:#def4fe;
	padding: 5px 5px 5px 25px;
	padding: 5px;
}
#infoBox:before, .infoBox:before{
	font-family: FontAwesome;
	content:"\f05a";
	color: #006699;
	margin-right: .5em;
}
#successBox, .successBox{
	border: 1px solid #669900;
	background-color: #dff2bf;
	padding: 5px 5px 5px 25px;
	padding: 5px;
}
#successBox:before, .successBox:before{
	font-family: FontAwesome;
	content:"\f058";
	color: #669900;
	margin-right: .5em;
}
#warningBox, #yellowBox, .warningBox{
	border: 1px solid #FFCC00;
	background-color: #FFFFCC;
	padding: 5px 5px 5px 25px;
	padding: 5px;
}
#warningBox:before, .warningBox:before{
	font-family: FontAwesome;
	content:"\f071";
	color: #FFCC00;
	margin-right: .5em;
}
#errorBox, #redBox, .errorBox{
	border: 1px solid #CC0000;
	background-color: #FFCCCC;
	padding: 5px 5px 5px 25px;
	padding: 5px;
}
#errorBox:before, .errorBox:before{
	font-family: FontAwesome;
	content:"\f06a";
	color: #CC0000;
	margin-right: .5em;
}
/* footer */
footer{
  background-color: #333;
  border-top: 1px solid #666666;
  line-height: 1.25em;
  color: #ccc;
}
footer div.one-third{
  margin-bottom: 1em;
  margin-top: 1em;
}
footer h5{
  text-transform: uppercase;
  border-bottom: 1px solid #666;
  padding-bottom: 3px;
  font-size: 1.2em;
  color: #EBE1D6;
}
footer a:link, footer a:visited{
  color: #ccc;
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
}
footer ul{
  margin: .5em 0 0 1em;
}
footer div:nth-child(3){
  text-align: center;
}
footer div:nth-child(3) a{
  margin: 0 .5em;
}
.socialIcons{
  text-align: center;
}
.socialIcons a:link, .socialIcons a:visited{
  color: #ccc;
}
.socialIcons a:hover{
  color: #fff;
}
